# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# C extensions
*.so

# Saved models
*-finetuned*/

# Checkpoints
results

# Developer-specific stuff
dev/SD
dev/GM
dev/LR
dev/BH

#API Keys
detectors/.env

# Experiment Results Data
data/experiment_results/*
juypter_notebooks/data_analysis/.ipynb_checkpoints/*
